<h1>Enter a Word</h1>
<form action="/words" method="post">
  <fieldset>
    <label for='word'></label>
    <input type='text' name='word' placeholder='Word'/>
    <input type='submit' value='Go!'>
  </fieldset>
</form>
